<app-navbar title="Events"></app-navbar>
<div class="container">
  <div *ngIf="showEmpty" padding>
    No events available
  </div>
  <div *ngIf="loading" text-center>

  </div>
  <div *ngIf="!loading">
    <div class="col-sm-12 col-md-6">
      <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of items"
        (click)="itemClicked(item)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{item.get('name')}}</h5>
          <small>{{item.get('startDate') | date:"MM/dd/yy"}} - {{item.get('endDate') |
            date:"MM/dd/yy"}}</small>
        </div>
        <p class="mb-0">Location Name: {{item.get('locationName')}}</p>
        <p class="mb-0">City: {{item.get('city')}}</p>
        <p class="mb-0">Address: {{item.get('address')}}</p>
        <small>Donec id elit non mi porta.</small>
      </a>
    </div>
  </div>